<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>
		<% for(let i in acoes){ %>

			<%
				let txt_acao = null;
				switch( parseInt(acoes[i].acao) ){
					case 1: txt_acao = 'aldeão(ões) coletando recursos'; break;
					case 2: txt_acao = 'enforcamento(s) programado'; break;
					case 3: txt_acao = 'aldeão(ões) em treinamento de história'; break;
					case 4: txt_acao = 'aldeão(ões) em treinamento de magia'; break;

				}

				const date = new Date();
				const momento_autal = date.getTime();
				
				const segundos_restantes = Math.round((acoes[i].acao_termino - momento_autal) / 1000);
			%>

			<li>
				<%= acoes[i].quantidade %> <%= txt_acao %>
				- restam <span class="tempo_restante"><%= segundos_restantes %></span>s
				- <a href="/revogar_acao?id_acao=<%= acoes[i]._id %>">revogar ordem</a>	
				<br/><br/>	
			</li>

		<% } %>	
	</ul>
</div>